@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

.apresentacao {
    margin: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
}

.apresentacao__links__link {
    background-color: #06AED5;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 21.5px 0;
    width: 280px;
    text-decoration: none;
    color: #232324;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    box-shadow: #03cefc 0px 50px 100px -20px, #06AED5 0px 30px 60px -30px;
    opacity: 1;
}

.apresentacao__links__link:hover {
    opacity: 0.7;
}

body {
    height: 100vh; /* vh = viewport height */
    box-sizing: border-box;
    /* background-color: #232324; */
    color: #FDFFFC;
    background: rgb(35,35,36);
    background: linear-gradient(145deg, rgba(35,35,36,1) 53%, rgba(25,25,120,1) 69%, rgba(6,174,213,1) 100%);
}

.titulo-destaque {
    color: #06AED5;
}

.imagem-capa {
    filter: grayscale(0.95);
    border-radius: 3%;
    max-width: 593;
    width: auto;
}


