@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root {
    --cor-primaria: #354649;
    --cor-secundaria: #E0E7E9;
    --cor-terciaria: #A3C6C4;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    color: var(--cor-secundaria);
    background: var(--cor-primaria);
    background: linear-gradient(145deg, #232324 53%, #191978 65%, #79b2be 100%);
}

.cabecalho {
    padding: 2% 0 0 7%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.12rem;
    color: var(--cor-terciaria);
    text-decoration: none;
    position: relative;
}

.cabecalho__menu__link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: -1;
    background-color: var(--cor-primaria);
    transition: height .25s linear;
}

.cabecalho__menu__link:hover::before {
    height: 100%;
}

.apresentacao {
    padding: 7% 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}


.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.12rem;
}

.apresentacao__links__redes {
    display: flex;
    justify-content: center;
    gap: 16px;
    text-align: center;
    border: 1px solid var(--cor-terciaria);
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    width: 50%;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    box-shadow: var(--cor-terciaria) 0px 10px 30px;
    opacity: 1;
}

.apresentacao__links__link:hover {
    opacity: 0.7;
}

.apresentacao__imagem {
    filter: grayscale(0.95);
    width: 35%;
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.12rem;
    font-weight: 400;
}

@media (max-width: 1000px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
    }
}